body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clear-fix {
	clear: both;
}

#container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

#logo {
	 width: 26.3671875%; /*270/1024*/
	 float: left;
}

nav {
	width: 50%; /* 512/1024*/
	float: right;
	background-color: rgba(108, 180, 30, 0.8);
	margin-top: 75px;
	text-align: center;
}

nav li {
	display: inline-block;
	margin: 10px 1%;
	font-size: 16px;
	text-transform: uppercase;
}

nav li a {
	text-decoration: none;
	color: #FFF;
}

header img{
	width: 100%;
	margin: 15px 0;
}

ul#cols li {
	width: 21%;
	float: left;
	display: inline-block;
	padding: 1%;
	background-color: #ffdf7f;
	margin: 0 1%;
}

ul#cols li img {
	width: 100%;
}

ul#cols li h2 {
	font-family: 'Tahoma', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;;
	margin: 5px 0;
	color: #22aaff;
}

ul#cols li p {
	font-size: 12px;
	color: #229999;
}

footer {
	background-color: #cee8f4;
	margin: 2% 0;
	overflow: auto;
}

#footer-left {
	width: 45%;
	background-color: rgba(158, 158, 158, 0.4);
	margin: 1%;
	float: left;
	padding: 1%;
}

#footer-right {
	width: 39%;
	margin: 1%;
	float: left;
}

@media screen and (max-width: 768px) {

			nav {
				width: 65%;
				margin-top: 25px;
				text-align: center;
			}

		#logo img {
				max-width: 100%;
			}

		ul#cols li {
				width: 100%;
				margin: 10px 0;
		}

		ul#cols li img {
			width: 15%;
			margin-right: 2%;
			float: left;
		}

		ul#cols li p, ul#cols li h2 {
			text-align: left;
		}

		footer {
			overflow: hidden;
		}

		#footer-left, #footer-right {
			float: none;
			width: 98%;
			margin: auto;
		}

		#footer-right img {
			width: 100%;
		}
}

@media screen and (max-width: 600px) {

		nav {
			clear: left;
			width: 100%;
			text-align: center;
		}

		#logo {
			float: none;
			width: 40%;
			margin: 0 auto;
		}

}

@media screen and (max-width: 480px) {
	ul#cols li p {
		display: none;
	}

		nav {
		background: #FFF;
		}

	nav li {
		background-color: rgba(158, 158, 158, 0.4);
		padding: 2% 0;
	}

	nav li a {
		color: #3c3c3c;
	}
}
